<div class="content">
	<div pull-to-refresh="console('hi');">
	  <div class="large-12 columns nopadding">
	    <div class="panel">
	      <div class="row">
	        <a href="#/packages" >
		        <div class="large-2 small-4 columns nopadding"><img src="http://placehold.it/300x300&amp;text=Site%20Owner"></div>
		
		        <div class="large-10 small-8 columns">
		          <strong>See All our Top Offers</strong>
		          <hr style="margin:  .5rem 0;">
		          Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. 
		        </div>
		        </a>
	      </div>
	    </div>
	  </div><!-- End Managed By -->
	  
		<div class="large-12 columns nopadding">
	    <div class="panel">
	      <div class="row">
	        <a href="#/search" >
		        <div class="large-2 small-4 columns nopadding"><img src="http://placehold.it/300x300&amp;text=Site%20Owner"></div>
		
		        <div class="large-10 small-8 columns">
		          <strong>Search for all Products</strong>
		          <hr style="margin:  .5rem 0;">
		          Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. 
		        </div>
		        </a>
	      </div>
	    </div>
	  </div><!-- End Managed By -->
	  
	  <div class="large-12 columns nopadding">
	    <div class="panel">
	      <div class="row">
	        <a href="#/search" >
		        <div class="large-2 small-4 columns nopadding"><img src="http://placehold.it/300x300&amp;text=Site%20Owner"></div>
		
		        <div class="large-10 small-8 columns">
		          <strong>See All our Top Offers</strong>
		          <hr style="margin:  .5rem 0;">
		          Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. 
		        </div>
		        </a>
	      </div>
	    </div>
	  </div><!-- End Managed By -->
	  
	</div>
</div>